.approveDiv {
  display: flex;
  justify-content: space-between;
}
.approveButton {
  background-color: #44ffd1;
  border-radius: 0.3rem;
  font-size: 12px;
  font-weight: 500;
  width: 48%;
  padding: 5px;
}

.depositButton {
  background-color: #44ffd1;
  border-radius: 0.3rem;
  font-size: 12px;
  font-weight: 500;
  width: 100%;
  padding: 5px;
}
.depositButton span {
  font-size: 12px;
  font-weight: 500;
  color: #000b28;
}
