.root {
  width: 50%;
  margin: auto;
}
.title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.blueContainer {
  background-color: rgba(58, 12, 163, 0.25);
  border-radius: 0.6rem;
  padding: 20px;
  margin-bottom: 15px;
}

.btnDiv {
  background-color: #000b28;
  width: 100%;
  margin-bottom: 15px;
}
.deposit {
  border-radius: 0.6rem 0 0 0.6rem;
  border: 1px solid #44ffd1;
  font-weight: 600;
  font-size: 12px;
  padding: 5px;
}
.withdraw {
  border-radius: 0 0.6rem 0.6rem 0;
  border: 1px solid #44ffd1;
  font-weight: 600;
  font-size: 12px;
  padding: 5px;
}
.buttonActive {
  background-color: #44ffd1;
  color: black;
  width: 100%;
}
.buttonDisable {
  background: #000b28;
  color: white;
  width: 100%;
}

.main-container {
  width: 100%;
  background-color: hsl(220, 11%, 11%);
  border-radius: 2rem;
  padding: 1em;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}
