.holdings h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.holdings p {
  font-size: 12px;
  margin-bottom: 0;
}
.holdings span {
  font-size: 12px;
  font-weight: 500;
  color: #44ffd1;
  float: right;
}
.holdings hr {
  margin: 0 0 10px 0;
  padding: 0.2px;
  height: 0;
  background-color: #44ffd1;
  opacity: 1;
}
