.root h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.root h2 {
  color: #44ffd1;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 500;
}
.root p {
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 5px;
}
.root span {
  font-size: 11px;
  font-weight: 500;
  color: #44ffd1;
  float: right;
}
